@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: url(../images/bg-stars.svg), linear-gradient(0deg, #2f2439 0%, #1e1f29 70%);
  font-family: "Red Hat Text", Arial;
}
body img.hills {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -3;
}
body h1 {
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 1.5rem 0;
}
body .counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body .counter-container .time {
  text-align: center;
  color: white;
}
body .counter-container .time .timebox {
  padding: 1.5rem;
  margin: 1rem;
  min-width: 100px;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #343650;
  color: #fb6087;
  font-weight: 700;
  font-size: 4.5rem;
}
body .counter-container .time .timebox .line {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.342);
  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.877);
  width: 100%;
  position: absolute;
  z-index: 1;
}
body .counter-container .time .timebox .line::after, body .counter-container .time .timebox .line::before {
  content: "";
  width: 20px;
  height: 15px;
  position: absolute;
  z-index: 2;
  border-radius: 100px;
  background-color: #1e1f29;
}
body .counter-container .time .timebox .line::after {
  top: -5px;
  right: -12px;
}
body .counter-container .time .timebox .line::before {
  top: -5px;
  left: -12px;
}
body .socials {
  position: absolute;
  bottom: 100px;
}
body .socials span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
body .socials .instagram {
  background: url(../images/icon-instagram.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 500ms;
}
body .socials .instagram:hover {
  background: url(../images/icon-ig-state-changed.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
body .socials .facebook {
  background: url(../images/icon-facebook.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 500ms;
}
body .socials .facebook:hover {
  background: url(../images/icon-fb-state-changed.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
body .socials .pinterest {
  background: url(../images/icon-pinterest.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 500ms;
}
body .socials .pinterest:hover {
  background: url(../images/icon-pin-state-changed.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
body .attribution {
  position: absolute;
  bottom: 10px;
  color: white;
}
body .attribution a {
  color: white;
}
